# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3

# Environment variables
.env

# Virtual environments
venv/
ENV/
env/
env.bak/
venv.bak/

# MacOS
.DS_Store

# Others
*.sqlite3
*.db
/.idea/.gitignore
/.idea/DungeonMasterSite.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
